* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
}
body {
  max-width: 100%;
  min-height: 100vh;
  /* font-family: "Poppins light"; */
  font-family: "Poppins", sans-serif;
}

.header {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 7em;
}

nav {
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 4em;
}
nav span {
  font-size: 4rem;
  color: #0693e3;
}

a {
  text-decoration: none;
}
.logo {
  font-size: 3rem;
  color: white;
}
/* 
   */
/*  */
/* 
    /* */
/* */
/*  */

.sidenav {
  transition: width 0.6s;
  width: 0;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 0 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 100;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidenav ul {
}
.sidenav ul li {
  opacity: 0;
  list-style: none;
  cursor: pointer;

  margin-bottom: 1em;
}

.sidenav.active {
  width: 100%;
}
.sidenav.active ul li {
  opacity: 1;
}
.sidenav a {
  font-size: 3rem;
  color: #0693e3;
}
/*  */
/*  */
.bar-container {
  display: inline-block;
  cursor: pointer;
  position: relative;

  z-index: 200;
}
.bar-container .bar1,
.bar-container .bar2,
.bar-container .bar3 {
  width: 28px;
  height: 6px;
  background-color: #ffffff;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-12px, 15px);
  height: 15px;
  width: 48px;
  filter: invert();
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  width: 48px;
  height: 15px;
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -10px);
  filter: invert();
}
/* 
   */
/* 
   
   /* */
.intro {
  height: 100vh;

  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
  /* background-image: linear-gradient(            #ffafbd, #ffc3a0); */
  background-image: linear-gradient(#a770ef, #cf8bf3);
}

.imgBox {
  width: 100%;
  justify-content: space-evenly;
  display: flex;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  overflow: hidden;
  z-index: 2;
}
.image {
  padding: 12px;
}
.image img {
  animation: float 1.4s infinite alternate;
  width: 300px;
  margin: 0 2em;
  filter: drop-shadow(0px 4px 17px #6427b5);
}
.imgBox .image:nth-child(1) {
  transform: rotateZ(-30deg);
}
.imgBox .image:nth-child(2) {
  transform: rotateZ(0) translateY(0px);
}
.imgBox .image:nth-child(3) {
  transform: rotateZ(30deg);
}
.rotate {
  transform: rotateX(70deg);
}
@keyframes float {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(10px);
  }
}

.model {
  display: grid;
  place-items: center;
  justify-items: center;
  width: 100%;
  height: 100vh;
}
.model .content {
  position: relative;
  margin-top: 3em;
  width: 100%;
  display: grid;
  place-items: center;
}
.model .content img {
  width: 400px;
  filter: drop-shadow(-44px 64px 26px #7f36de);
}
/* 
 */
/*  */

/*  */
.container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
z-index: 1000;
  left: 0;
}
/* .model .content:hover .card-one {
  transform: scale(1);
  opacity: 1;
} */

.card {
  width: 25em;
  height: 24em;
  position: absolute;
  border-radius: 27px;
  background-color: white;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.6s;
  /* display: none; */

  /* transform: translate(-50%, -50%); */
  box-shadow: 3px 3px 8px 0 #a770ef;
}
.card-one {
  top: 0%;
  right: 20%;
  opacity: 0;
  transform: scale(0);
}
.card-one h1 {
  font-size: 4rem;
}
.card-one:hover {
  transform-style: preserve-3d;
  transform: translate3d(180deg);
  perspective: 1000px;
  cursor: pointer;
}
.card-two {
  top: 20%;
  left: 20%;
  transform: scale(0);
}
/*  
  /*  */
.social-icons {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  /* display: none; */
  flex-direction: column;
  justify-content: center;
}
.social-icons ul {
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 70%;
  margin-top: 13em;
  justify-content:space-around;
  z-index: 1;
}
.social-icons ul li {
  width: 100%;
  height: 20px;
  display: inline;
  list-style: none;
  /* box-shadow: 0 3px 18px 0 #a770ef; */
  cursor: pointer;
  /* margin: 2em 4em; */
  margin-left: 2em;
}

.social-icons ul li a {
padding: 0.4em 0.7em;
  box-shadow: 0 3px 18px 0 #a770ef;
  font-size: 2.5rem;
  color: #fff;
}

@media screen and (max-width: 1200px) {
  .image img {
    width: 180px;
  }
}@media (max-width: 768px) {
  *{
    font-size: 12px;
  }
}
@media (max-width: 700px) {
  * {
    font-size: 10px;
  }
  .header {
    padding-top: 1em;
  }
  .card {
    width: 19em;
  }
  .model .content img {
    width: 350px;
  }
  .image {
    margin-top: 3em;
  }
  .image img {
    width: 180px;
  }
}
@media (max-width: 600px) {
  *{
    font-size: 9px;
  }
  
  .social-icons ul{
    width: 100%;
    flex-direction: row;
    position: absolute;
  }
  .sidenav ul li {
    margin-bottom: 2.6em;
  }
  .model .content img {
    width: 300px;
  }
  .image img {
    width: 100px;
  }
}

@media (max-width: 400px) {
  * {
    font-size: 7px;
  }
  .image {
    margin-top: 50px;
  }
  .image img {
    width: 100px;
  }
  .model .content img {
    width: 200px;
  }
  .imgBox .image:nth-child(2) {
    transform: rotateZ(0) translateY(0px);
  }

  .sidenav {
    padding-bottom: 50px;
  }
}
