* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 12px;
}
body {
  max-width: 100vw;
  min-height: 100vh;
  /* font-family: "Poppins light"; */
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  position: relative;
}

.header {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 7em;
  padding-top: 2em;
  display: unset;
}

nav {
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 4em;
}

a {
  text-decoration: none;
}
.logo {
  font-size: 3rem;
  color: white;
  position: relative;
  z-index: 99;
}
/* 
   */
/*  */
/* 
    /* */

/* */
/*  */

.sidenav {
  transition: width 0.6s;
  width: 0px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 0 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 10000;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidenav ul li {
  transform: translateX(-1000%);
  opacity: 0;
  list-style: none;
  cursor: pointer;
  font-size: 3rem;

  margin-bottom: 1em;
  transition: 0.6s;
}

.sidenav.active {
  width: 100%;
}
.sidenav.active ul li {
  transform: translateX(0);
  opacity: 1;
  color: #0693e3;
}

/*  */
/*  */
.bar-container {
  display: inline-block;
  cursor: pointer;
  position: relative;

  z-index: 20000;
}
.bar-container .bar1,
.bar-container .bar2,
.bar-container .bar3 {
  width: 28px;
  height: 6px;
  background-color: #ffffff;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-12px, 15px);
  height: 15px;
  width: 48px;
  filter: invert();
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  width: 48px;
  height: 15px;
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -10px);
  filter: invert();
}

section {
  width: 100%;
  overflow-x: hidden;
  height: 100%;
  display: grid;
  place-items: center;
  place-content: center;
  min-height: 100vh;
}
.intro {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
  position: relative;
  /* background-image: linear-gradient(            #ffafbd, #ffc3a0); */
  background-image: linear-gradient(#a770ef, #cf8bf3);
}

.model {
  display: grid;
  place-items: center;
  justify-items: center;
  width: 100%;
  height: 100vh;
}
.model .content {
  position: relative;
  margin-top: 3em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-left: 1em; */
}
.content h1 {
  line-height: 1.3em;
  font-size: 6rem;
  color: white;
  font-weight: bolder;

  margin-left: 1em;
}
.model .content .imgBox img {
  width: 100%;
  height: 100%;
  filter: drop-shadow(-44px 64px 26px #7f36de);
  object-fit: cover;
}
.model .content .imgBox {
  width: 35%;
  height: 100%;
}
/* 
 */
/*  */

/*  */

/*  
  /*  */
/* 
   */
/*  */
/*  */
/*  */
.social {
  bottom: 4%;
  position: absolute;
  left: 2%;
  display: grid;
  place-items: center;
}

.social .social-icons {
  display: flex;
  width: 100%;
}
.social .social-icons li {
  transition: 0.6s;
  list-style: none;
  align-items: center;
  margin: 0 2em;

  /* padding: 0.4em 0.6em; */
  /* width: 150px; */
  text-align: center;
  /* border: 3px solid white; */
}

.social-icons li:hover {
  transform: scale(1.5);
  transition: 0.6s;
}
.social .social-icons li a {
  color: white;
  font-size: 1.3rem;
}
.social .social-icons i {
  font-size: 3rem;
}
/*  */
/*  */
/*  */
/*  */
/*  */

.about-me {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  position: relative;
}
.about-me::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #7925e874;
  clip-path: circle(400px at top right);
  z-index: -1;
}

.about-me h1 {
  text-align: center;
}
.about-me h1 span {
  font-size: 2.6rem;
  color: #7f36de;
}
.info {
  margin-top: 3em;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 1.3em;
  box-shadow: 4px 4px 18px 0 #7925e874;
}
.info::before {
  position: absolute;
  content: "";
  width: 25%;
  height: 100%;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #7f36de;
}
.information {
  width: 50%;
  color: #7f36de;
  margin-right: 3em;
  height: 100%;

  padding: 4em 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.information p {
  font-size: 1.2rem;
  word-spacing: 1.2px;
  height: 80%;
}
.info .imgBox {
  width: 30%;
  display: grid;
  height: 100%;
  place-items: center;
  margin: 2em;
  position: relative;
}
.info .imgBox img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  object-fit: cover;
  border: 6px solid white;
}
.btn-container {
  width: 100%;
  height: 20%;
  display: flex;

  align-items: center;
  margin-top: 3em;
}
.btn-container button {
  font-family: Poppins, "serif";
  background-color: #8a30ff;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 25px;
  letter-spacing: 1.4px;
  font-size: 0.8rem;
  padding: 0.9em 1.1em;
  margin-right: 1em;
  cursor: pointer;
  font-weight: 600;
  white-space: nowrap;
  box-shadow: 0px 3px 16px 4px #7f36de8d;
}
.scroll-down {
  position: absolute;
  bottom: 2%;
  left: 50%;
}
.fa-chevron-down {
  font-size: 3rem;
  color: white;
  cursor: pointer;
  animation: scroll-anim 0.8s alternate infinite;
}

.services {
  width: 100%;

  height: 100%;
  overflow-y: unset;
}
.services h1 {
  text-align: center;
}
.services h1 span {
  color: #7f36de;
  font-size: 3rem;
}

.services .card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  align-items: center;
  padding: 0 2em;
  margin-top: 3em;
}
.card {
  padding: 1em 1.5em;
  width: 33.3333%;
  background-color:#8a30ff;
  color: white;
  margin: 1.5em;
  box-shadow: 3px 3px 16px 0px #7925e874;
}
.card h2 {
  text-align: center;
  margin-bottom: 2em;
}
.card h2 span {
  font-size: 2rem;
  border-bottom: 4px solid rgb(255, 255, 255);
}
.card p {
  margin-top: 1.4em;
  text-align: center;
  font-size: 1rem;
}
/*  */
/*  */

@keyframes scroll-anim {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(10px);
  }
}
.contact {
  padding: 8em 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  place-content: unset;
}
.contact h1 {
  text-align: center;
}
.contact h1 span {
  font-size: 3rem;
  color: #7f36de;
}

.contact .contact-card {
  margin: 0 auto;
  margin-top: 4em;
  height: 100%;
  width: 90%;

  font-family: "Poppins", sans-serif;
  background-color: #fff;

  box-shadow: 3px 3px 16px 0px #7925e874;
  padding: 2em 0 2em 4em;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-card h1 {
  font-size: 3rem;
  text-align: left;
}
.contact-card p {
  font-size: 1.2rem;
  margin: 0.8em 0;
  
}
form {
  font-family: Poppins, serif;
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  overflow: hidden;
}

form label input {
  border: none;
  outline: none;
  width: 100%;
  border-bottom: 2px solid grey;
  font-size: 1.5rem;
  margin: 2em 0;
  padding-bottom: 0.8em;
  caret-color: #7f36de;
}
form button {
  padding: 0.8em 1em;
  border-radius: 27px;
  border: none;
  outline: none;
  background-color: #7f36de;
  color: white;
  font-size: 1.3rem;
}
.contacts-social {
  position: absolute;
  bottom: 2%;
  right: 0%;
  z-index: 3;

  width: 100%;
}
.contact-card button:hover {
  background-color: #8a30ff;
}
.contact-card ul {
  display: flex;
  justify-content: space-evenly;
  align-self: center;
}

.contacts-social ul li {
  list-style: none;
  transition: 0.6s;
}
.contacts-social ul li a i {
  font-size: 1.5rem;
  color: white;
}
.contact-card .background {
  position: absolute;
  content: "";
  max-width: 25%;
  width: 25%;
  height: 100%;
  z-index: 3;
  top: 0;
  right: 0;
}
.background::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #8a30ff;
}
.contact-card .float {
  position: absolute;
  transform: translate(0, -50%);
  top: 50%;
  right: 0;
  background-color: #fff;
  height: 80%;
  width: 30%;
  box-shadow: 3px 3px 16px 0px #7925e874;
  z-index: 6;
  padding: 2em;
  overflow: hidden;
  transition: 0.6s;
}
.float .container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  z-index: 4;
}
.float .container div {
  display: flex;
  align-items: center;
}
.float .container div span {
  font-size: 1.3rem;
  margin-left: 0.5em;
}
.float .container div i {
  font-size: 1.6rem;
}
.contact .bar-container {
  position: absolute;
  top: 50%;
  transform: translate(-78%, -50%);
  left: 78%;
  background-color: #7f36deb1;
  padding: 0.7em;
  transition: 0.6s;
  display: none;
}
.contact .bar-container .bar1,
.contact .bar-container .bar2,
.contact .bar-container .bar3 {
  position: relative;
  z-index: 1000;
  width: 28px;
  height: 6px;
  background-color: #ffffff;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.contact .change-pos {
  background-color: transparent;
  top: 15%;
  left: 93%;
  transform: translate(-93%, -15%);
}
.contact .change-pos .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-12px, 15px);
  height: 15px;
  width: 48px;
  background-color: #7f36de;
  /* filter: invert(); */
}

.contact .change-pos .bar2 {
  opacity: 0;
}

.contact .change-pos .bar3 {
  background-color: #7f36de;
  width: 48px;
  height: 15px;
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -10px);
  /* filter: invert(); */
}

@media (max-width: 1068px) {
  * {
    font-size: 13px;
  }
}
@media (max-width: 1000px) {
  * {
    font-size: 10px;
  }
  .content {
    margin-bottom: 5em;
  }
  .social {
    bottom: 8%;
  }
}
@media (max-width: 800px) {
  .contact .bar-container {
    display: unset;
  }
  .contact .float {
    transform: translate(200%, -50%);
    transform-origin: right;
    width: 100%;
  }

  .contact .scale {
    transition: 0.6s;
    transform: translate(0%, -50%);
  }
  .contact .contact-card {
    padding-left: 3rem;
  }
  .contact .contact-card p {
    width: 60%;
  }
  .contact-card h1 {
    width: 60%;
    margin-bottom: 0.5em;
  }
}
@media (max-width: 768px) {
  * {
    font-size: 10px;
  }
  .about-me {
    padding: 4em 0;
  }
  .content h1 {
    line-height: 1em;
  }
  nav {
    padding: 0 2em;
  }
  .sidenav.active ul li {
    font-size: 2.2rem;
  }

  .logo {
    font-size: 2.4rem;
  }
  .info {
    flex-direction: column-reverse;
    justify-content: center;
    padding-bottom: 4em;
  }
  .information {
    width: 100%;
    margin: 0;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1em;
  }
  .btn-container {
    justify-content: center;
    margin-top: 3em;
  }
  .btn-container button {
    font-size: 1.4rem;
    margin: 0 2em;

    white-space: nowrap;
  }
  .information p {
    text-align: center;
    font-size: 1.2rem;
  }
  .info .imgBox {
    height: 30%;
    width: 160px;
    padding-top: 2em;
  }
  .info .imgBox img {
    height: 100%;
    width: 100%;
  }
  .info::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
  }
  .social {
    bottom: 15%;
  }
  .about-me::before {
    clip-path: circle(160px at top right);
  }
  .scroll-down {
    bottom: 5%;
  }

  .content {
    margin-bottom: 8em;
  }
  .content h1 {
    margin-left: 0.5em;
  }
  .model .content .imgBox {
    width: 40%;
  }
}
@media (max-width: 700px) {
  * {
    font-size: 10px;
  }
  .header {
    padding-top: 1em;
  }

  .model .content .imgBox {
    width: 50%;
  }
  .card {
    width: 80vw;
    /* margin: 0; */
  }
  .card p {
    font-size: 1rem;
  }
}
@media (max-width: 600px) {
  * {
    font-size: 12px;
  }
}
@media (max-width: 500px) {
}

@media (max-width: 400px) {
  * {
    font-size: 12px;
  }

  .model .content .imgBox {
    width: 50%;
  }

  .sidenav {
    padding-bottom: 50px;
  }
}
